  
%h2.title
  = "##{@item.id}"
  = @path_items.join(" / ")
  

.time-form
  - form_for Tracking.new do |t|
    = hidden_field_tag :trackable_id, @item.id
    %p
      %label
        = @path_items.join("/")
        \/
        = text_field_tag :dynamic_path
    %p
      You could leave this empty for starting a new time slot NOW
    %p
      %label
        Time spec
        = t.text_field :time
    %p
      %label
        Do you have anything to say?
        %br
        = t.text_area :description, :cols => 60, :rows => 3, :style => 'height:40px;'
    %p#parsed_time
    
    %p
      = submit_tag 'Speichern'
.clock
  %canvas{:width => 150, :height => 150}

.trackings
  %ul
    - @trackings.each do |tracking|
      %li== #{tracking.time}

.explorer
  %h3 Explorer
  %ul
    - if @item.parent
      %li= link_to "..", path_path(:path => '') + @path_items.first(@path_items.size - 1).join("/")
    - @item.children.each do |child|
      %li= link_to h(child.name), path_path(:path => '') + (@path_items + [child.permalink]).join("/")
    %li= render :partial => 'new', :locals => {:parent_id => @item.id}

